.nav {
    transition: transform 0.3s ease-in-out;
    width: 100% !important;
}

.navWrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    width: 100%;
    flex-wrap: wrap;
}