.nav {
    transition: transform 0.3s ease-in-out;
    width: 100% !important;
}

.sectionButtonsContainer {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    position: sticky;
    top: 72px;
    background: white;
    z-index: 1500;
}

.navWrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    width: 100%;
    flex-wrap: wrap;
}