.nav {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 100svw;
}

.sectionButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0.5rem 0;
    width: 100%;
}