.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.headlines {
    padding: 1rem 2rem;
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: start;
}