.navbar {
    width: 100%;
    background: white;
}

.headlines {
    padding: 1rem 2rem;
}

.stickyMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eee;
    background: white;
}