.sectionButton {
    display: flex;
    width: fit-content;
    align-self: flex-start;
    padding: 8px 16px;
    align-items: center;
    gap: 22px;
    border-radius: 104px;
    backdrop-filter: blur(5px);
    background: var(--neutral-cod-black-12, rgba(22, 22, 22, 0.12));
    color: var(--cod-black);
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    box-sizing: content-box;
    text-wrap: nowrap;

}

.sectionButton:focus {
    outline: 1px solid var(--cod-black);
    outline-offset: -1px;
    box-shadow: none;
}

.sectionButton:active {
    outline: 1px solid var(--cod-black);
    outline-offset: -1px;
    transform: none;
    box-shadow: none;
}

.selected {
    background: #000;
    color: #fff;
}

@media (max-width: 768px) {
    .sectionButton {
        padding: 8px 16px;
        gap: 1rem;
        /* text-wrap: nowrap; */
    }


}

.sectionButton[data-clickable="false"] {
    cursor: default;
    pointer-events: none;
}

.sectionButton[data-clickable="false"] {
    cursor: default;
    pointer-events: none;
}