.sectionsNavBar {
    display: flex !important;
    flex-direction: row !important;
    gap: var(--gap-1);
    justify-content: flex-start;
    width: auto;
    padding: 0;
    flex-wrap: nowrap;
    min-width: max-content;
}