.block {
    display: flex;
    gap: 2rem;
    width: 100%;
    background-color: var(--Neutral-Alabaster-Gray, #F8F8F8);
    padding: 1rem;
    border-radius: 8px;
}

.sectionButtonContainer {
    flex: 1;
    /* Takes 1/4 of the space */
}

.contentContainer {
    flex: 3;
    /* Takes 3/4 of the space */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

/* large text */
.textLarge {
    composes: h1 from global;
}

/* regular text */
.textRegular {
    font-size: 16px;
    line-height: 1.5;
}

/* default text */
.textDefault {
    font-size: 14px;
    line-height: 1.5;
}

/* date variant */
.dateItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dateItem .meta {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--Neutral-Cod-Black, #161616);
}

/* skills variant */
.skillItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skillItem .title {
    font-weight: 600;
}