.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 80px;
    width: 100%;
}

.menuButton {
    position: fixed;
    z-index: 2000;
    top: 1rem;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 6rem;
}