.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 80px;
    width: 100%;

}

.menuButton {
    position: fixed;
    z-index: 2000;
    top: 1rem;
}