.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 80px;


}

.menuButton {
    position: fixed;
    z-index: 2000;
    top: 1rem;

}